@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oldenburg&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}